@import './base';

body { 
  @include flexCenter(column);
  gap: 5px;
}

// Banner
.main__hero {
  @include flexCenter(row);
  background-image: url(../assets//hero_banner-dt.webp);
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  img {height: 85%;}
}

// Fiesta
.party__container {
  width: 100%;
  height: 771px;
  background-image: url(../assets/fiesta_desktop.webp);
  background-size: cover;
  background-position: bottom right;
  @include flexCenter(column);
  gap: 50px;

  .description {
    font-family: $fontSerif;
    font-size: 42px;
    text-align: center;
  }
}

// Vestimenta y confirmacion
.block__1 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;

  .dress__code {
    background: linear-gradient(180deg, #FF3FBF 59.5%, #FF8ED9 100%);
    color: $rosa;

    .type_dress {
      font-family: $fontSerif;
      font-size: 90px;
      font-weight: 400;
      line-height: 120px;
      text-transform: uppercase;
      letter-spacing: -1.6244348287582397px;
      text-align: center;
    }
  }

  .asistence {
    background: $blanco;
    color: $negro;

    .text {
      font-family: $fontSerif;
      font-size: 35px;
      font-weight: 400;
      line-height: 35px;
      letter-spacing: -1.3760217428207397px;
      text-align: center;
    }

    a{ margin-top: 25px; }


  }

}

// Social
.block__2 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;

  .block {
    .text {
      font-family: $fontSerif;
      font-size: 30px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: -1.2376459836959839px;
      text-align: center;
      a, button { margin-top: 25px; }
    }
  }

  .instagram {
    background: $blanco;
    color: $negro;
  }

  .music {
    background: linear-gradient(180deg, #FF3FBF 59.5%, #FF8ED9 100%);
    color: $rosa;
  }

  .gift {
    background: $rosa;
    color: $negro;
  }
}

// Mapa
.map__container {
  @include flexCenter(column);
  background: $negro;
  width: 100%;
  height: 80vh;
  gap: 15px;
  
  .titulo {
    font-family: $fontSans;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    color: $rosa;
  }

  iframe {
    width: 95%;
    height: 85%;
  }
}

// Footer
.footer {
  @include flexCenter(column);
  background-color: $rosa;
  width: 100%;
  height: 100px;

  .thanks {
    font-family: $fontSans;
    font-size: 43.17px;
    font-weight: 300;
    line-height: 43.17px;
    text-align: center;
    color: $negro;
  }
}

.copy {
  @include flexCenter(row);
  height: 70px;
  width: 100%;
  background-color: $negro;
  
  span {
    color: $blanco;
    font-family: $fontSans;
    font-size: 18px;
    font-weight: 500;
    line-height: auto;
    text-align: center;
    a {
      color: $blanco;
      background: $blanco;
      color: $negro;
      padding: 3px 5px;
    }
  }

  .mobile { display: none;}
}

.swal2-popup {
  font-family: $fontSans;
  background: $blanco;
  color: $negro;
  width: 50%;

  .swal__regalo {

    hr {
      border: 1px solid $negro;
      width: 100px;
      margin: 20px auto;
    }

    .bloque {
      font-weight: 300;
      font-size: 22px;
      .titular {
        font-size: 28px;
        margin: 10px auto 5px;
        font-weight: bold;
      }

      .lista {
        list-style: none;
        .item br { display: none; }
      }
    }
  }

  .swal2-confirm {
    width: 200px;
    color: $negro;
    background: $rosa;
    border: 1px solid $negro;
    border-radius: 50px;
    font-weight: 700;
    transition: ease all .25s;

    &:hover {
      color: $blanco;
      background: #FF3FBF;
    }
  }
}


@media (max-width: 992px) {
  .main__hero {
    background-image: url(../assets/hero_banner-mb.webp);
    background-size: contain;
    width: 100%;
    height: 550px;
    overflow: hidden;
    img {
      height: auto;
      width: 90%;
      max-width: 360px;
    }
  }

  // Fiesta
  .party__container {
    height: auto;
    padding: $p-30;
    gap: 20px;

    .description {
      max-width: 350px;
      width: 80%;
      margin: 0 auto;
      font-size: 30px;
      br { display: none; }
    }
  }


  .block__1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    // Dress Code
    .dress__code {
      height: auto;
      padding: $p-30;
      .type_dress {
        font-size: 55px;
        line-height: 90px;
        font-weight: bold;
      }
    }

    // Asistencia
    .asistence {
      gap: 15px;
      &.block {
        height: auto;
        padding: $p-30;
      }

      .text p {
        font-size: 30px;
      }
    }
  }

  .block__2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    .block {
      height: auto;
      padding: $p-30;
      width: 100%;

      .text {
        margin-top: 10px;
      }
    }
  }

  .map__container {
    height: 600px;
    padding: $p-30;
    gap: 20px;
    .titulo {
      font-size: 40px;
      line-height: 45px;
      width: 90%;
      max-width: 270px;
    }

    iframe {
      width: 90%;
      height: 100%;
    }
  }

  .footer {
    height: auto;
    padding: 15px 0;
    .thanks {
      font-size: 30px;
      line-height: 30px;
      width: 80%;
      max-width: 400px;
      margin: 0 auto;
    }
  }

  .copy {
    .desktop { display: none; }
    .mobile { display: block; }
    height: auto;
    padding: 10px 0;
    span {
      font-size: 14px;
      width: 80%;
      line-height: 20px;
      a { padding: 1px 3px; }
    }
  } 


  .swal2-popup {
    width: 100%;
    .swal__regalo .bloque .lista {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      padding-top: 10px;
      .item br {
        display: block;
      }
    }
  }
}